name: My First Workflow
on: push
jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Repo
          uses: actions/checkout@v6.0.2
        - name: Welcome message
          run: |
            echo "This is my first-run"
            ls
            cat README.md
