name: My First Workflow
on: push
jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Repo
          uses: actions/checkout@v6.0.2
        - name: Welcome message
          run: echo "This is my first-run"
        - name: List files
          run: ls
        - name: Read File
          run: cat README.md
