name: Shell Script Work Flow
on: push
jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Repo
          uses: actions/checkout@v6.0.2
        - name: Executing Shell Script
          run: |
            chmod +x ascii-script.sh
            ./ascii-script.sh